.container {
	padding-block: 50px;
}
.select {
	width: 30%;
}
.btn {
	padding: 10px 20px;
	border-radius: 20px;
	background: hotpink;
	display: block;
	margin: 10px;
}

.lol {
	background: red;
	option {
		background: green;
		color: white;
		appearance: none;
		display: block;
		padding: 30px;
	}
}
