.container,
.from,
.to {
	display: flex;
	align-items: center;
	gap: 7px;
	font-size: 14px;
	line-height: 100%;
	display: flex;
	align-items: center;
}

.to {
	color: #686868;
	li {
		white-space: nowrap;
	}
	.link {
		display: flex;
		align-items: center;
		color: #664ef9;
		cursor: pointer;
	}
	li:not(:first-child) {
		&:before {
			content: "•";
			color: inherit;
			margin-right: 7px;
		}
	}
}

.from {
	color: #664ef9;
	a {
		color: inherit;
	}
}

.current {
	@media (max-width: 620px) {
		max-width: 50vw;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
