.error {
	position: relative;
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter";
	min-height: 600px;

	&:before,
	&:after {
		z-index: 1;
		position: absolute;
		content: "";
		display: block;
		width: 68px;
		aspect-ratio: 1 / 1;
		background: url("../../assets/decorations/dots.svg") top center/ cover no-repeat;
		@media (max-width: 500px) {
			display: none;
		}
	}
	&::after {
		bottom: 12%;
		right: 12.7%;
	}
	&::before {
		left: 5.3%;
		top: 16%;
	}
}

.container {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 50px;
	@media (max-width: 1000px) {
		padding: 0;
	}
}

.info {
	color: #ffffff;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);

	.title {
		font-weight: 700;
		font-size: calc(60 / 16) + rem;
		line-height: 1;
		margin-bottom: 0.43em;
	}
	.description {
		font-weight: 500;
		font-size: calc(20 / 16) + rem;
		line-height: 24px;
		margin-bottom: 2.5em;
		max-width: 450px;
		padding-left: 10px;
	}
	.button {
		display: block;
		width: fit-content;
		background: #ffd54f;
		border-radius: 33px;
		font-weight: 700;
		font-size: 1rem;
		line-height: calc(24 / 16);
		color: #1e2123;
		text-shadow: none;
		padding: 12px 24px;
		transition: 200ms;

		.icon {
			font-size: 12px;
			margin-right: 5px;
		}
		&:hover {
			background: #ffc756;
		}
	}

	@media (max-width: 550px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 20px;
		.title {
			font-size: 50px;
		}
		.description {
			font-size: 16px;
		}
		.button {
			white-space: nowrap;
		}
	}
}
.number {
	color: #ffffff;
	opacity: 0.3;
	font-weight: 700;
	text-shadow: 0px 1px 30px rgba(0, 0, 0, 0.25);
	font-size: 19.6vw;
	@media (max-width: 1000px) {
		display: none;
	}
}
